.works {
  padding: 80px 0;
}

.works .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work {
  margin-bottom: 100px;
}

.work-image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

@media screen and (max-width: 1024px) {
  .work-image {
    width: calc(54.16667% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .work-image {
    width: calc(100% - 30px);
  }
}

.work-image .img-container {
  position: relative;
}

.work-image .img-container .smartphone {
  width: 281px;
  height: auto;
}

.work-image .img-container .gif {
  position: absolute;
  top: 28px;
  left: 14px;
  width: 253px;
  height: 516px;
  border-radius: 20px;
  overflow: hidden;
  background: none;
}

.work-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66667% - 30px);
  box-sizing: border-box;
  color: #2379be;
}

@media screen and (max-width: 1024px) {
  .work-content {
    width: calc(100% - 30px);
  }
}

.work-content .btn-primary {
  border: 2px solid #2379be;
}

.work-title {
  font-size: 40px;
}

.work-open-link {
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  color: #2379be;
}

.work-open-link img {
  display: inline-block;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 1em;
  width: 1em;
  margin: 0 .07em;
  vertical-align: -0.1em;
  background: none;
  padding: 0;
  margin-right: 10px;
}

.work .content-list {
  background: #2379be;
  padding: 20px;
  color: #fff;
  margin-top: 37px;
  margin-bottom: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
}

.work .content-list ul {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.work-info {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  padding-left: 38px;
  position: relative;
}

.work-info i {
  position: absolute;
  top: 7px;
  left: 15px;
  font-size: 16px;
}

.work .bot_can {
  margin-top: 8px;
}

.work .list-btn {
  background: #fff;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 25px;
  color: #2379be;
  padding: 6px 44px;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
}

.work .list-btn:focus {
  outline: none;
}

.work .list-btn i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  font-size: 20px;
}

.work .list-toggle {
  margin-bottom: 10px;
}

.work .list-toggle ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.work .list-toggle li {
  list-style: none;
  font-size: 20px;
  position: relative;
  padding-left: 15px;
  margin-top: 8px;
}

.work .list-toggle li i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  font-size: 12px;
}

.work .list-toggle.active ul {
  max-height: 10000px;
}

@media screen and (max-width: 1024px) {
  .work-image .img-container {
    display: none;
  }
  .work-content {
    max-width: 500px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .work-title {
    font-size: 30px;
  }
  .work-info {
    font-size: 18px;
    line-height: 25px;
    padding-left: 38px;
  }
  .work .content-list {
    padding: 10px;
  }
  .work .list-btn {
    font-size: 18px;
  }
  .work .list-btn i {
    font-size: 16px;
  }
  .work .content-list li {
    font-size: 16px;
  }
}
/*# sourceMappingURL=works.css.map */